bin/
trash/
.classpath
.project
.settings/
target/
classes/
*.class
*.xml
*.war
.metadata/
cesium/Apps/*
cesium/Build/*
cesium/node_modules/*
cesium/Source/*
cesium/Specs/*
cesium/ThirdParty/*
cesium/CHANGES.md
cesium/LICENSE.md
cesium/README.md
